@import '~ant-design-vue/dist/antd.less';
@primary-color: #4876FF; // 全局主色
@link-color: #4876FF; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 2px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影

/* 覆盖ant-design样式 */
.ant-menu-inline {
  border-right-width: 0 !important;
}

.ant-table-middle {
  .ant-table-content {
    .ant-table-thead>tr>th {
      color: #666 !important;
      border-bottom: 0;
    }

    tr {
      td {
        border-bottom: 1px solid rgb(235, 238, 245);
        font-size: 13.5px;
      }

      &>td:first-child,
      &>th:first-child {
        padding-left: 20px !important;
      }
    }

    a {
      &:hover {
        text-decoration: underline !important;
      }
    }

    .action {
      a {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.ant-badge-status-dot {
  height: 8px;
  width: 8px;
}

.ant-badge-status-text {
  font-size: 13px;
}

.break-word {
  word-break: break-all;
  white-space: pre-line;
}



/* 扩展ant design pro按钮组件颜色 */
.button-color-dust {
  background-color: #F5222D;
  border-color: #F5222D;

  &:hover,
  &:focus {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
  }

  &:active,
  &.active {
    background-color: #cf1322;
    border-color: #cf1322;
  }
}

.button-color-volcano {
  background-color: #FA541C;
  border-color: #FA541C;

  &:hover,
  &:focus {
    background-color: #ff7a45;
    border-color: #ff7a45;
  }

  &:active,
  &.active {
    background-color: #d4380d;
    border-color: #d4380d;
  }
}

.button-color-sunset {
  background-color: #FAAD14;
  border-color: #FAAD14;

  &:hover,
  &:focus {
    background-color: #ffc53d;
    border-color: #ffc53d;
  }

  &:active,
  &.active {
    background-color: #d48806;
    border-color: #d48806;
  }
}

.button-color-cyan {
  background-color: #13C2C2;
  border-color: #13C2C2;

  &:hover,
  &:focus {
    background-color: #36cfc9;
    border-color: #36cfc9;
  }

  &:active,
  &.active {
    background-color: #08979c;
    border-color: #08979c;
  }
}

.button-color-green {
  background-color: #52C41A;
  border-color: #52C41A;

  &:hover,
  &:focus {
    background-color: #73d13d;
    border-color: #73d13d;
  }

  &:active,
  &.active {
    background-color: #389e0d;
    border-color: #389e0d;
  }
}

.button-color-daybreak {
  background-color: #1890FF;
  border-color: #1890FF;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #096dd9;
    border-color: #096dd9;
  }

  &:active,
  &.active {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }
}

.button-color-geekblue {
  background-color: #2F54EB;
  border-color: #2F54EB;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #1d39c4;
    border-color: #1d39c4;
  }

  &:active,
  &.active {
    background-color: #597ef7;
    border-color: #597ef7;
  }
}

.button-color-purple {
  background-color: #722ED1;
  border-color: #722ED1;

  &:hover,
  &:focus {
    background-color: #9254de;
    border-color: #9254de;
  }

  &:active,
  &.active {
    background-color: #531dab;
    border-color: #531dab;
  }
}